body{
    padding: 0;
    margin: 0;
}

img:hover{
transform: scale(1.05);
transition: transform 0.3s ease;
}

nav{
    display: flex;
    padding: 30px;
}

nav li{
    list-style-type: none;
    display: flex;
    display: inline-block;
}

nav ul{
    margin-left: 550px;
    margin-top: 35px;
}


nav img{
    width: 100px;
    margin-left: 80px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 30px;
}

nav ul li a:hover{
background-color: aquamarine;
border-radius: 30px;
color: red;
}

.sec1{
    background-image: url(home_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.sec2{
    margin-left: 500px;
    text-align: center;
    color:white;
    display: flex;
    margin-top: 250px;
}

.sec2 h1:hover{
color: orangered;
}

.sec3 h1{
    color: #f5c86a;
}

.sec3 h1:hover{
    color: blueviolet;
}

.sec4{
    text-align: center;
    font-size: 20px;
    color: white;
}

.sec4 p:hover{
    color: cadetblue;
}

.sec5 button{
    border-radius: 20px;
    border: 1px solid;
    background: transparent;
    margin-left: 700px;
    padding: 20px 40px;
    margin-top: 10px;
    color: white;
}

.sec6{
    background-color: white;
    margin-top: 100px;
    text-align: center;
}

.sec6 h1:hover{
    color: #f5c86a;
}

.sec6 p:hover{
    color: blue;
}


.sec7{
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
}

.sec7 p{
    padding: 10px;
    font-size: 25px;
    line-height: 1.6;
    max-width: 600px;
    display: block;
    margin-top: -440px;
}

.sec60 img{
    width: 400px;
    display: flex;
    margin-left: 900px;
    margin-top: 100px;
}

.sec8{
       margin-left: 100px;
       margin-top: -230px;
    display: flex;
}

.sec8 p{
        padding: 10px;
    font-size: 25px;
    line-height: 1.6;
    max-width: 600px;
    display: block;
    margin-top: -10px;
}

.sec9 button{
    background-color: black;
    color: white;
    padding: 20px 50px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 150px;
}

.sec10{
    margin-top: 100px;
    background-image: url(offer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.sec11{
    text-align: center;
    padding-top: 40px;
}

.sec11 h1{
     color: #f5c86a;
}

.sec11 p{
    color: white;
}

.sec11 h1:hover{
    color: turquoise;
}

.sec11 p:hover{
    color: green;
}

.sec12{
    display: flex;
    margin-left: 200px;
    padding-top: 30px;
}

.sec13 img{
width: 200px;
display: flex;
margin-left: -40px;
}

.sec13 h1{
    text-align: center;
    margin-left: -135px;
    color: white;
}

.sec13 p{
    text-align: center;
    margin-left: -110px;
    color: white;
}

.sec13 h3{
    color: #f5c86a;
    display: flex;
    margin-left: 20px;
}

.sec13 s{
    display: flex;
    margin-left: -10px;
    color: white;
    margin-top: 20px;
}
.sec13a{
    display: flex;
    padding-left: 20px;
}

.sec5 button:hover{
   background-color: gray;
    color: blue;
}

.sec7 p:hover{
    color: deeppink;
}

.sec8 p:hover{
    color: crimson;
}

.sec14 img{
    width: 200px;
    display: flex;
    margin-left: 200px;
}

.sec14 h1{
    color: white;
}

.sec14 h3{
    color: #f5c86a;
    padding-left: 20px;
}

.sec14 s{
    color: white;
    margin-top: 20px;
}

.sec14a{
    display: flex;
    margin-left: 250px;
}

.sec14 h1{
    text-align: center;
    margin-left: 120px;
    color: white;
}

.sec14 p{
    text-align: center;
    color: white;
    margin-left: 120px;
}


.sec15 img{
        width: 200px;
    display: flex;
    margin-left: 200px;
}

.sec15 h1{
    color: white;
}

.sec15 h3{
    color: #f5c86a;
    padding-left: 20px;
}

.sec15 s{
    color: white;
    margin-top: 20px;
}

.sec15a{
    display: flex;
    margin-left: 270px;
}

.sec15 h1{
    text-align: center;
    margin-left: 150px;
}

.sec15 p{
    text-align: center;
    color: white;
    margin-left: 150px;
}

.sec9 button:hover{
    background-color: aqua;
    color: red;
}

.sec16{
    text-align: center;
    padding-top: 50px;
}

.sec17{
    display: flex;
}

.sec17 img{
    width: 150px;
    margin-left: 60px;
    padding-top: 100px;
   
}

.sec18 h1{
margin-left: 220px;
margin-top: -150px;
}

.sec18 h2{
    margin-left: 490px;
    margin-top: -50px;
    color: #f5c86a;
}

.sec18 p{
    margin-left: 230px;
}

.sec19 h2{
    margin-left: 620px;
    margin-top: -50px;
    color: #f5c86a;
}

.sec23 h2{
    margin-left: 640px;
    margin-top: -50px;
    color: #f5c86a;
}


.sec27{
    display: block;
    margin-left: 110px;
}

.sec27 h1{
margin-left: 220px;
margin-top: -150px;
}

.sec27 p{
    margin-left: 220px;
}

.sec27 h2{
    color: #f5c86a;
    margin-left: 500px;
    margin-top: -50px;
}

.sec51 h2{
    margin-left: 590px;
}

.sec52 h2{
    margin-left: 590px;
}



.sec28 button{
    background-color: #f5c86a;
    color: white;
    margin-left: 600px;
    margin-top: 100px;
    padding: 10px 40px;
    border-radius: 20px;
}

.sec28 button:hover{
    background-color: tomato;
    color: blue;
}



.sec29{
background-image: url(daytime_bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
height: 300px;
    display: flex;
    text-align: center;
   margin-top: 100px;
}



.sec29 img{
    margin-left: 200px;
    width: 100px;
    margin-top: 50px;
}


.sec30{
    margin-top: -20px;
    color: white;
}

.sec30 h1{
    margin-left: 200px;
}

.sec30 h4{
    margin-left: 200px;
}

.sec31{
    color: white;
}

.sec31 h1{
    margin-left: 200px;
}

.sec31 h4{
    margin-left: 200px;
}

.sec32{
    margin-top: 30px;
    color: white;
}

.sec32 h1{
    margin-left: 200px;
}

.sec32 h4{
    margin-left: 200px;
}

.sec33{
    margin-top: -20px;
    color: white;
}

.sec33 h1{
    margin-left: 200px;
}

.sec33 h4{
    margin-left: 200px;
}

.sec34{
    background-image: url(offer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: -30px;
}

.sec34 h1{
    text-align: center;
    padding-top: 100px;
   color: white;
}

.sec34 img{
    width: 400px;
    height: 200px;
    border-radius: 30px;
}

.sec46 h1:hover{
    color: #f5c86a;
}

.sec35{
    display: flex;
}

.sec35 img{
    margin-top: 50px;
    margin-left: 50px;
}



.sec36{
    display: flex;
}

.sec36 img{
        margin-top: 50px;
    margin-left: 50px;
}


.sec37{
     background-color: #f6f5f2;
     padding-top: 200px;
}

.sec37 h1{
        margin-left: 250px;
}


.sec37 h5{
        margin-left: 250px;
}

.sec38{
  margin-left: 250px;
}

.sec38 h1{
    margin-left: 20px;
}


.sec39{
    margin-top: 100px;
}

.sec40{
    margin-top: 100px;
    margin-left: 240px;
}

.sec40 h1{
    margin-left: 10px;
}

.sec40 img{
    width: 50px;
    margin-left: 10px;
}

.sec41 img{
    width: 50px;
    display: flex;
   
}

.sec41 h5{
   margin-left: 60px;
   margin-top: -30px;
}

.sec42 img{
    width: 50px;
    display: flex;
   
}

.sec42 h5{
   margin-left: 60px;
   margin-top: -30px;
}

.sec43 img{
    width: 50px;
    display: flex;
   
}

.sec43 h5{
   margin-left: 60px;
   margin-top: -30px;
}

.sec45{
margin-top: 30px;
padding: 40px;
border-radius: 10px;
width: 400px;
margin-left: 800px;
margin-top: -600px;
}

form input,
form textarea {
width: 100%;
padding: 12px;
margin-bottom: 15px;
border: none;
background-color: #e0e0e0;
font-size: 16px;
}

form textarea {
height: 300px;
resize: none;
}

form button {
width: 170px;
padding: 12px;
border: none;
border-radius: 10px;
background-color: #e4b95b;
color: white;
font-size: 16px;

font-weight: bold;
cursor: pointer;
transition: 0.3s;
}

form button:hover {
background-color: white;
color: black;
}

.sec50{
    background-image: url(offer-background.jpg);
    text-align: center;
    color: white;
    margin-top: -20px;
    height: 50px;
}

.sec50 h4{
    padding-top: 15px;
}

@media (max-width: 480px) {
nav img {
margin-left: -10%;
width: 25%;
}

nav ul {
display: flex;
margin-left: -6%;
margin-top: 10%;
}

nav ul li a {
font-size: 70%;
margin-left: -60%;
padding-left: 5%;
}



.sec2 {
margin-left: 17%;
margin-top: 50%;
font-size: 50%;
}

.sec5 button {
margin-top: 6%;
margin-left: 31%;
}

.sec60 {
margin-left: -245%;
display: block;
}

.sec60 img{
    width: 25%;
}

.sec7 {
margin-top: 140%;
margin-left: 4%;
}

.sec8 {
margin-top: -10%;
margin-left: 4%;
}

.sec9 button{
    margin-left: 25%;
}

.sec10 {
height: 330%;
}

.sec12 {
display: block;
}

.sec13 {
margin-left: -150%;
margin-top: 6%;
}

.sec13 img{
margin-left: 35%;
}

.sec13 h1,
.sec13 p {
margin-left: 17%;
font-size: 90%;
margin-top: 10%;
}

.sec13 s {
margin-left: 40%;
}

.sec14 {
margin-left: -150%;
margin-top: 6%;
}

.sec14 img {
margin-left: 35%;
}

.sec14 h1,
.sec14 p {
margin-left: 17%;
font-size: 90%;
margin-top: 10%;
}

.sec14 s {
margin-left: -45%;
}

.sec15 {
margin-left: -150%;
margin-top: 6%;
}

.sec15 img {
margin-left: 35%;
}

.sec15 h1,
.sec15 p {
margin-left: 8%;
font-size: 90%;
margin-left: 17%;
margin-top: 5%;
}

.sec15 s {
margin-left: -80%;
}

.sec17 {
display: block;
margin-left: -10%;
}

.sec17 h2 {
margin-left: 63%;
margin-top: 1%;
}

.sec27 {
margin-left: 0%;
}

.sec28{
margin-left: -160%;
}

.sec29 {
height: 200%;
display: block;
}


.sec30,
.sec31,
.sec32,
.sec33 {
margin-left: -70%;
padding-top: -20%;
}

.sec34 {
height: 100%;
margin-left: -4%;
}

.sec35,
.sec36 {
display: block;
margin-left: -5%;
}

.sec35 img{
    width: 80%;
}

.sec36 img{
    width: 80%;
}

.sec38 {
margin-top: -21%;
margin-left: 4%;
}

.sec39 {
margin-left: -68%;
}

.sec40 {
margin-left: 4%;
}

.sec45 {
background-color: #f6f5f2;
margin-left: -5%;
margin-top: 0%;
width: 80%;
}

.sec50 {
margin-top: -5%;
}
}